/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
/* line 19, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_normal.css.scss */
.container {
  text-align: center;
  background-color: #69b7e5;
  color: #000;
  width: 320px !important;
}
/* line 24, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_normal.css.scss */
.container #new_admin {
  color: #000;
}
/* line 28, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_normal.css.scss */
.container .header {
  background-image: url(/assets/normal_back-ffd227a89e5c675b1cc92590b84716b978f404fc40d6b2d3868eef2f96cdafcd.jpg);
  background-size: cover;
  height: 480px;
}
/* line 32, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_normal.css.scss */
.container .header h1 {
  margin-top: 25px;
  font-size: 25px;
  color: #1c4464;
}
/* line 38, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_normal.css.scss */
.container .header_offer {
  margin-top: 30px;
  color: #005a99;
  font-size: 28px;
  height: 180px;
  font-weight: bold;
  background-image: url(/assets/blue_label-b800f3502c339bb2805b2e8f2431a6bb8a2e39ed7af6cc7ff95a92746e86ce1a.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 47, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_normal.css.scss */
.container .header_offer p {
  width: 150px;
  margin: 0 auto;
  padding-top: 10px;
  color: #005a99;
}
/* line 54, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_normal.css.scss */
.container .icon {
  margin-top: 5px;
  display: none;
}
/* line 58, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_normal.css.scss */
.container .offers {
  background-color: #4c5962;
}
/* line 61, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_normal.css.scss */
.container .offer {
  background-color: white;
}
/* line 65, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_normal.css.scss */
.container .actions {
  margin-top: 20px;
}
/* line 68, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_normal.css.scss */
.container .btn {
  background-color: #3b5fb0;
}
/* line 71, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_normal.css.scss */
.container .btn:hover {
  background-color: #dcc76b;
  color: #4c5962;
}
