/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
/* line 17, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_bright.css.scss */
.container .header {
  background-image: url(/assets/bright_back-b645057b922d763e99f4d2881c35708b0b91f3d92710c56c543dd8a07afea096.jpg);
  background-size: cover;
  height: 540px;
}
/* line 21, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_bright.css.scss */
.container .header h1 {
  font-size: 25px;
  color: #1d3f99;
}
/* line 26, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_bright.css.scss */
.container .header_offer {
  color: #c837ab;
  font-size: 25px;
  height: 180px;
  font-weight: bold;
  background-image: url(/assets/label-1e3558249348d044601605aabb44aefa1b86e80903ddabf3099bb4e74fb5d71f.png);
  background-size: cover;
}
/* line 34, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_bright.css.scss */
.container .icon {
  margin-top: 5px;
}
/* line 37, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_bright.css.scss */
.container .offer {
  margin-top: 20px;
  background-color: white;
}
/* line 41, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_bright.css.scss */
.container .actions {
  margin-top: 20px;
}
/* line 44, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_bright.css.scss */
.container .btn {
  background-color: #69b7e5;
}
/* line 47, /home/sergei/rails/mobile_landing_creator/app/assets/stylesheets/page_bright.css.scss */
.container .btn:hover {
  background-color: darkblue;
}
