/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
.container{
  .header{
    background-image: image-url(bright_back);
    background-size: cover;
    height: 540px;
    h1{
      font-size: 25px;
      color: #1d3f99;
    }
  }
  .header_offer{
    color: #c837ab;
    font-size: 25px;
    height: 180px;
    font-weight: bold;
    background-image: image-url(label);
    background-size: cover;
  }
  .icon{

  }
  .offer{
    margin-top: 20px;
    background-color: white;
  }
  .actions{
    margin-top: 20px;
  }
  .btn{
    background-color: #69b7e5;
  }
  .btn:hover{
    background-color: darkblue;
  }


}
