/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui.min
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.errors{
  display: none;
}
.container{
  text-align: center;
  width: 320px !important;
  background-color: #69b7e5;
  color: #000;

  a{
    color: #000;
  }
  .btn_preview{
    color: #fff;
    width: 100% !important;
    border-radius: 0px !important;
  }
  .header_offer{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      margin: 0 !important;
      padding-top: 20px;
    }
  }
  .logo{
    margin-top: 30px;
    height: 60px;
  }

  h1{
    line-height: 2;
    font-size: 25px;
    font-weight: bold;
  }
  .actions{
    margin-top: 20px;
  }
  .btn{
    font-weight: bold;
    border: 0px;
    width: 230px;
    border-radius: 30px;
  }
  form#new_admin{
    background-color: lightskyblue;
    color: #000;
  }
  .offers{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .offer{
    border-radius: 5px;
    height: 475px;
    color: #000;
    padding: 10px;
      .discount{
        font-size: 20px;
        padding: 20px;
        padding-top: 25px;
        font-weight: bold;
        background-image: image-url(up_label);
        background-size: cover;
        margin: 0 auto;
        .discount_percent{
          margin-left: 20px;
        }
      }
      .price{
        padding: 20px;

      }
      h3{
        font-weight: bold;
      }
      .img{
        margin: 0 auto;
        height:150px;
        width: 150px;
        margin-top: 10px;
      }
      .stars{
        margin: 0 auto;
        width: 150px;
      }
      .price_old{
        font-size: 25px;
        padding-top: 2px;
      }
      .price_new{
        font-size: 25px;
        color: #d0b337;
        font-weight: bold;
      }
  }
  .advantages{
    color: #fff;
    height: 100%;
    padding-bottom: 15px;
    background-image: image-url(texture);
    .advantage{
      padding-top: 20px;
      font-weight: bold;
      text-align: justify;
      width: 260px;
      margin: 0 auto;
      .adv_image{
        width: 80px;
        height: 80px;
        margin: 0 auto;
        margin-bottom: 15px;
      }
    }
  }
  .feedbacks{
    padding-top: 10px;
    padding-bottom: 5px;
    height: 100%;
    background-image: image-url(texture);
    .feedback{
      text-align: left;
      padding: 15px;
      margin: 25px;
      background-color: #fff;
      color: #000;
      border-radius: 10px;
      max-width:100%;
      max-height:100%;
      .feed_author{
        margin-top: 15px;
        font-weight: bold;
      }
      .feed_image{
        margin: 0 auto;
        margin-top: 15px;
      }

    }
    .feed_image{
      height: 100px;
      width: 100px;
    }
  }
  .footer{
    background-image: image-url(footer_back);
    background-size: cover;
    height: 140px;
    padding-top: 55px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -20px;
    a{
      color: #000;
    }
    text-decoration: underline;
  }
}

.btn-file{
  width: 290px;
}
.price{
  text-align: center;
  width: 100%;
  display: inline-block;
  padding-bottom: 15px;
  .price_new{
    width: 50%;
    float: right;
  }
  .price_old{
    width: 50%;
    float: left;
  }
}


.add_for_edit_check{
  display: inline-block;
  width: 100%;
  text-align: left;
  //height: 35px;
  height: auto;
  background-color: lightgreen;
  padding: 5px;
  span{
    color: #000;
  }
}
.edit_block{
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.edit_buttons{
  padding: 20px;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.add_for_edit_check input{
  width: 30px;
  height: 30px;
}

.offer{
  margin-top: 20px;
}

.add_for_edit_check{
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
}