<!DOCTYPE html>
<html>
  <head>
    <title>MobileLandingCreator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'page_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="container">
    <h1>Page Normal</h1>
    <%= yield %>
  </div>

  </body>
</html>
